---
import Layout from "../layouts/base-layout.astro"
---

<Layout>
  <div class="center">
    <h1>ERROR: 404</h1>
    <img src="https://http.cat/404" alt="A cat hiding in a blanket.">
  </div>
</Layout>

<style>
  .center {
    display: grid;
    place-content: center;
    gap: .5rem;
  }
  h1 {
    text-align: center;
  }
</style>