---
import Layout from "../layouts/base-layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<Layout>
  <p>
    I am a curious person, I like to get out of my comfort zone to improve as a
    programmer and as a person. I like to work in team and add value, help and
    learn to form a better culture in this industry.
  </p>

  <section>
    <h3></h3>
    <ul>
      {
        allPosts.map((post) => {
          return (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
