---
const { title } = Astro.props;
import Footer from "../components/footer.astro";
import "../styles/global.css";
---

<html lang="en" theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/" style="text-decoration: none;">
        <h2>lorddesert</h2>
      </a>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </nav>
    </header>
    <article>
      <slot />
    </article>
    <Footer />
  </body>
</html>

<style>
  :root {
    --bg-color: #191919;
  }

  html {
    background-color: var(--bg-color);
    color: whitesmoke;
    accent-color: crimson;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  header {
    display: flex;
    gap: 5rem;
    align-items: center;
  }

  nav a {
    margin-right: 5px;
  }

  :global(p) {
    max-width: 70ch;
    /*TODO: This should be for other elements as well? */
    line-height: 1.5;
  }
</style>
