---
const { title } = Astro.props;
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";

// Styles
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/" style="text-decoration: none;">
        <h2>lorddesert</h2>
      </a>
      <Navigation />
    </header>
    <article>
      <slot />
    </article>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style>
  h2 {
    color: var(--accent-color);
  }

  h2:hover {
    color: var(--accent-color-darker);
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: space-around;
  }

  nav a {
    margin-right: 5px;
  }

  :global(p) {
    max-width: 70ch;
    /*TODO: This should be for other elements as well? */
    line-height: 1.5;
  }
</style>
